{{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">{{ form_row(form.email, { 'label' : 'Email'}) }}</div>
        <div class="col-md-6">{{ form_row(form.plainPassword, {'label' : 'Password' }) }}</div>
    </div>
 
    <div class="row">
        <div class="col-md-6">
            {% if user.avatar is same as(null) %}
                <img id="avatar" src="{{asset('/uploads/defaut.png')| imagine_filter('avatarbookshow')}}"></br>
            {% else %}
            <img id="avatar" src="{{asset('/uploads/' ~ user.avatar)| imagine_filter('avatarbookshow')}}"></br>
            {% endif %}
        </div>
        <div class="col-md-6">{{ form_row(form.username, {'label' : 'Pseudonyme' }) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.registrationdate, {'label' : "Date d'inscription" }) }}</div>
        <div class="col-md-6">{{ form_row(form.updated, {'label' : 'Date mise à jour profil' }) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.status) }}</div>
        <div class="col-md-6">{{ form_row(form.subscription) }}</div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
