{{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">{{ form_row(form.email, { 'label' : 'Email'}) }}</div>
        <div class="col-md-6">{{ form_row(form.password, {'label' : 'Password' }) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.username, {'label' : 'Pseudonyme' }) }}</div>
        <div class="col-md-6">{{ form_row(form.avatar, {'label' : 'Avatar' }) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.registrationdate, {'label' : "Date d'inscription" }) }}</div>
        <div class="col-md-6">{{ form_row(form.updated, {'label' : 'Date mise à jour profil' }) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.status, {'label' : 'activer ou désactiver'}) }}</div>
    <div class="col-md-6">{{ form_row(form.subscription, {'label' : 'abonné ou non abonné'}) }}</div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
