<div class="col-md-3 d-grid">
    <a href="{{ path('newbook') }}" class="btn btn-outline-secondary">Proposer une promo</a>
    <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary">Les meilleurs rabais</a>
    <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary">Les + populaires</a>
    <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary">Les + commentées</a>
    <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary">Tous les genres</a>
    <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary">Toutes les catégories</a>
</div>