<div class="col-md-3 d-grid">
    <div class="menu">
        <a href="{{ path('newbook') }}">Proposer une promo</a>
    </div>
    <div class="menu">
        <a href="{{ path('app_logout') }}">Les meilleurs rabais</a>
    </div>
    <div class="menu">
        <a href="{{ path('app_logout') }}">Les + populaires</a>
    </div>
    <div class="menu">
        <a href="{{ path('app_logout') }}">Les + commentées</a>
    </div>
    <div class="menu">
        <a href="{{ path('app_logout') }}">Tous les genres</a>
    </div>
    <div class="menu">
    <a href="{{ path('app_logout') }}">Toutes les catégories</a>
    </div>
</div>