{% extends 'base.html.twig' %}

{% block title %}Créer un compte utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div id="margin" class="col-md-6">
            <h1>Créer un compte utilisateur</h1>
        </div>

        {{ form_start(registrationForm) }}

        <div id="margin" class="col-md-6">{{ form_row(registrationForm.email) }}</div>

        <div id="margin" class="col-md-6">{{ form_row(registrationForm.username) }}</div>

        <div id="margin" class="col-md-6">{{ form_row(registrationForm.plainPassword) }}</div>

        <div id="margin" class="col-md-6">{{ form_row(registrationForm.avatar) }}</div>

        <div id="margin" class="col-md-6">{{ form_row(registrationForm.subscription) }}</div>

        <div id="margin" class="col-md-6">{{ form_row(registrationForm.agreeTerms) }}</div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {{ form_rest(registrationForm) }}
        <div id="margin" class="col-md-6">
            <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
        </div>
        {{ form_end(registrationForm) }}
        
    </div>
{% endblock %}
