<div class="col-md-3">
    <div class="menu">
        <a href="{{ path('newbook') }}">Proposer une promo</a>
    </div>
    <div class="menu">
        <a href="{{ path('home') }}">Tous les livres</a>
    </div>
    <div class="menu">
        <a href="{{ path('bestdiscounts') }}">Les meilleures promos</a>
    </div>
    <div class="menu">
        <a href="{{ path('mostpopular') }}">Les + populaires</a>
    </div>
    <div class="menu">
        <a href="{{ path('mostcommented') }}">Les + commentées</a>
    </div>
    <div class="menu">
        <a href="{{ path('type') }}">Tous les genres</a>
    </div>
    <div class="menu">
    <a href="{{ path('category') }}">Toutes les catégories</a>
    </div>

    <div class="menu">
    <a href="{{ path('subcategory') }}">Toutes les sous-catégories</a>
    </div>
</div>