{% extends 'base.html.twig' %}

{% block title "Ebooks en promo" %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-2">
        Je suis le menu
            </div>
            <div class="col-md-8">
                <div class="row">
            <h1>{{ book.title }}</h1>
                    <div class="col-md-4">
                    <img src="/uploads/{{ book.cover }}" alt="couverture de {{ book.title }}">
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col">
                            {{ book.authors }}
                            </div>
                            <div class="col text-end">
                            {% for category in book.categories %}
                                {{ category.name }},
                            {% endfor %}
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                {{ book.authors }}
                            </div>
                            <div class="col text-end">
                                {{ book.publisher }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mt-4 text-justify">
                            {{ book.description | nl2br }}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col">
                        {{ book.user.username }}
                    </div>

                    <div class="col">
                        expire le {{ book.endDate | date('d/m/Y') }}
                    </div>
                    
                    <div class="col text-end" style="font-weight:bold; color:red; font-size:">
                        {{ book.reducePrice }} €
                    </div>au lieu de
                    <div class="col">
                        <del>{{ book.normalPrice }} €</del> 
                    </div>
                    <div class="col text-align-left" style="font-weight:bold; color:red; font-size:">
                        -{{ pourcent }}%
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col">sur PromoSite</div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col">
                        icônes partage réseaux sociaux
                    </div>

                    <div class="col">
                        nombre de like <3
                    </div>
                </div>
<hr>


                <div class="row mt-4">
                    <div class="col-md-2">
                        {{ book.user.username }}
                    </div>
                    <div class="col">
                        {{ form_start(comment_form) }}

                        {{ form_row(comment_form.content) }}
                        
                        {{ form_rest(comment_form) }}
                            <button class="btn btn-primary">{{ button|default('Commenter') }}</button>
                        {{ form_end(comment_form) }} 
                    </div>
                </div>
<hr>
                {% for comment in book.comments %}
                    <div class="row mt-4">
                        <div class="col-md-2">
                            {{ comment.user.username }}
                        </div>

                        <div class="col">
                            <div class="row">
                                <div class="col text-end">
                                le {{ comment.date | date('d/m/Y') }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-left">
                                    {{ comment.content | nl2br }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        
        </div>
        
    </div>


{% endblock %}