{% extends 'base.html.twig' %}

{% block title %}Proposer une promotion{% endblock %}

{% block body %}

    <div class="container">
        <div class="row text-center">
        <h1>Proposer une promotion sur un livre numérique</h1>
        </div>
        

        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.title) }}
                <span class="error">{{ form_errors(form.title) }}</span></div>
                <div class="col-md-6">{{ form_row(form.cover) }}</div>
            </div>

            <div class="row">
                <div class="col-md-6">{{ form_row(form.authors) }}</div>
                <div class="col-md-6">{{ form_row(form.link) }}</div>
            </div>

            <div class="row">
                <div class="col-md-6">{{ form_row(form.startDate) }}</div>
                <div class="col-md-6">{{ form_row(form.endDate) }}</div>
            </div>

            <div class="row">
                <div class="col-md-6">{{ form_row(form.normalPrice) }}</div>
                <div class="col-md-6">{{ form_row(form.reducePrice) }}</div>
            </div>

            <div class="row">
                <div class="col-md-6">{{ form_row(form.publisher) }}</div>
                <div class="col-md-6">{{ form_row(form.isbn) }}</div>
            </div>

            <div class="row">
                <div class="col-md-6">{{ form_row(form.type, {
                    label: 'Genre'
                }) }}</div>
                <div class="col-md-6">{{ form_row(form.categories, {
                    label: 'Catégorie'
                }) }}</div>
            </div>

            <div class="row">
                <div class="col-md-12">{{ form_row(form.description) }}</div>
            </div>
            
        {{ form_rest(form) }}
            <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
