{{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">{{ form_row(form.name) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.status) }}</div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

