{% extends 'base_admin.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des types de livres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.name }}</td>
                <td>{{ type.status ? 'Actif' : 'Inactif' }}</td>
                <td>
                <a "class="btn btn-primary"" href="{{ path('type_show', {'id': type.id, 'slug':null}) }}" role="button">Voir</a>
                <a "class="btn btn-secondary"" href="{{ path('type_edit', {'id': type.id, 'slug':null}) }}" role="button">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
