{{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">{{ form_row(form.content, {'label' : 'Contenu'}) }}</div>
        <div class="col-md-6">{{ form_row(form.date, {'label' : 'Date'}) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.user, {'label' : "Nom de l'utilisateur"}) }}</div>
        <div class="col-md-6">{{ form_row(form.book, {'label' : "Nom du livre"}) }}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{ form_row(form.status, {'label' : 'Actif ou bloqué'}) }}</div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
