{% extends 'base_admin.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<div class="container">
    <h1>Listes des commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.status ? 'Actif' : 'Bloqué' }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('comment_edit', {'id': comment.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
