{% extends 'base_admin.html.twig' %}

{% block title %}
    Book index
    
{% endblock %}

{% block body %}

    <div class="container">
        <h1>
            Book index
        </h1>
        <div class="row">
            <div class="col-md-11">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Id
                                                            
                            </th>
                            <th>
                                Couverture
                                                            
                            </th>
                            <th>
                                Titre
                                                            
                            </th>
                            <th>
                                Prix normal
                                                            
                            </th>
                            <th>
                            Prix en promo
                                                            
                            </th>
                            <th>
                                Début de la promo
                                                            
                            </th>
                            <th>
                                Fin de la promo
                                                            
                            </th>
                            <th>
                                % de réduction
                                                            
                            </th>
                            <th>
                                Nombre de commentaires
                                                            
                            </th>
                            <th>
                                Nombre de likes
                                                            
                            </th>
                            <th>
                                Status
                                                            
                            </th>
                            <th>
                                Actions
                                                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td>
                                    {{ book.id }}
                                </td>
                                <td>
                                    <img src="/uploads/{{ book.cover }}">
                                </td>
                                <td>
                                    {{ book.title }}
                                </td>
                                
                                <td>
                                    {{ book.normalprice }}
                                </td>
                                <td>
                                    {{ book.reduceprice }}
                                </td>
                                <td>
                                    {{ book.startdate ? book.startdate|date('Y-m-d H:i:s') : '' }}
                                </td>
                                <td>
                                    {{ book.enddate ? book.enddate|date('Y-m-d H:i:s') : '' }}
                                </td>
                                <td>
                                    {{ book.totalprice }}
                                </td>
                                <td>
                                    {{ book.nbcomments }}
                                </td>
                                <td>
                                    {{ book.nblikes }}
                                </td>
                                <td>
                                    {{ book.status ? 'Validé' : 'Bloqué' }}
                                </td>
                                <td>
                                    <a href="{{ path('book_show', {'id': book.id, 'slug': null}) }}">
                                        Voir
                                                                            
                                    </a>
                                    <a href="{{ path('book_edit', {'id': book.id, 'slug': null}) }}">
                                        Editer
                                                                            
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="17">
                                    Aucune entrée trouvée
                                                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
