{% extends 'base.html.twig' %}

{% block title %}
    Mon compte
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon compte</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    {% if app.user.avatar is same as(null) %}
                        <img id="avatar" src="{{asset('/uploads/defaut.png')| imagine_filter('avatarbookshow')}}" alt="avatar de {{ app.user.username }}"></br>
                    {% else %}
                        <img id="avatar" src="{{asset('/uploads/' ~ app.user.avatar)| imagine_filter('avatarbookshow')}}" alt="avatar de {{ app.user.username }}"></br>
                    {% endif %}
                    <br>
                        <div class="div">{{ app.user.username }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    {{ form_start(formavatar) }}  
                    {{ form_row(formavatar.avatar) }}
                    {{ form_rest(formavatar) }}
                        <button class="btn btn-primary">{{ button|default('Enregistrer mon nouvel avatar') }}</button>
                    {{ form_end(formavatar) }}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4"> 
                Date d'inscription : 
                {{ app.user.registrationdate |date("m/d/Y", "Europe/Paris") }}
                <br>
                Dernière modification du profil : 
                {{ app.user.updated |date }}
                <br>
            </div>
            <div class="col-md-6">
                <div class="row">
                    {{ form_start(formmail) }} 
                    {{ form_row(formmail.email) }}
                    {{ form_rest(formmail) }}
                        <button class="btn btn-primary">{{ button|default('Enregistrer mon nouvel email') }}</button>
                    {{ form_end(formmail) }}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="div">
                Nombre de promotions proposées : {{ app.user.books |length }}
                    <br>
                    Nombre de commentaires : {{ app.user.comments |length }}
                </div>         
            </div>
            <div class="col-md-6">
                <div class="row">
                    {{ form_start(formpassword) }}
                    {{ form_row(formpassword.plainPassword) }}
                    {{ form_rest(formpassword) }}
                        <button class="btn btn-primary">{{ button|default('Enregistrer mon nouveau mot de passe') }}</button>
                    {{ form_end(formpassword) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
        