{% extends 'base.html.twig' %}

{% block title %}
    Mon compte
    
{% endblock %}

{% block body %}

    <div class="container">
        <h1>
            Mon compte            
        </h1>
        <div class="row">
            <div class="col-md-4">
                Date d'inscription : 
                {{ app.user.registrationdate |date }}
                <br>
                    Dernière modification du profil : 
                    {{ app.user.updated |date }}
                    <br>
                        Nombre de promotions proposées 
                        {{ app.user.books |length }}
                        <br>
                            Nombre de commentaires 
                            {{ app.user.comments |length }}
                        </div>

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col">
                                    <img id="avatar" src="/uploads/{{ app.user.avatar }}" alt="avatar de {{ app.user.username }}"></br>
                                    changer d'avatar
                                </br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ app.user.email }}
                                    changer d'email
                                    
                                </br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    
                                    changer de mot de passe
                                </br>
                                </div>
                            </div>
                        </div>
            </div>

        </div>

        {% endblock %}
        